<% if spree_current_user %>
  <li><%= link_to fa_icon("user", class: "img-thumbnail"), spree.account_path %></li>
  <li><%= link_to fa_icon("sign-out", class: "img-thumbnail"), spree.logout_path %></li>
<% else %>
  <li id="link-to-login"><%= link_to fa_icon("sign-in", class: "img-thumbnail"), spree.login_path %></li>
<% end %>
